/* @import url('https://fonts.googleapis.com/css?family=Poppins'); */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@font-face {
  src: url(fonts/gotham.ttf);
  font-family: gotham;
}

@font-face {
  src: url(fonts/Aller.ttf);
  font-family: aller;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.title{
  margin-top: 4%;
  font-size: 154px;
  font-family: gotham;
  text-align: center;
  color: white;
  margin-bottom: -10px;
  text-align: center;
}

#crowdyTitle {
  margin: 0 auto;
  font-size: 130px;
  margin-left: 70px;
  margin-top: 15px;
}

.top-right {
  width:30px;
  /* background-color: red; */
  float: right;
  margin-right: 60px;
  margin-top: 20px;
}

.subTitle{
  font-size: 30px;
  font-family: gotham;
  text-align: center;
  color: #eed697;
  letter-spacing: 20px;
}

.empty{
  margin-bottom: 70px;
}

.background{
  background-color: #31393a;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    align-content: center;
    margin:auto;
    padding:0;
    background-size: cover;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-size: cover;

}

.crowdy{
  margin-top:100px;
  height: 20%;
  margin-bottom: 30px;
}

body {
  background: #31393a;
  margin: 0 0;
  text-align:center;
}

#bg {
  position:fixed;
  top:-50%;
  left:-50%;
  width:200%;
  height:200%;
}

#bg img {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
	margin:auto;
	min-width:50%;
	min-height:50%;
}


.form1 {
  background: none;
  margin: 20px auto 0;
  padding: 10px;
  width: 280px;
}

#login{
  margin-top: -30px;
}

#adj{
  margin-top: -20px;
  margin: 0 auto;
}

#titleLogin{
  text-align: center;
  font-size: 154px;
  color: white;
  font-family: gotham;
}

#email {
  margin: 0 auto;
}

#password {
  margin: 0 auto;
}

#name {
  margin: 0 auto;
}

#location {
  margin: 0 auto;
}

#adj2 {
  margin: 0 auto;
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #faf1d6 inset !important;
    opacity: 0.8;
}

input {
  display: block;
  background: #142020;
  font-size: 14px;
  width:260px;
  margin: 10px;
  padding: 10px 8px 10px 8px;
  border: 1px solid #666;
  color: white;
  font-family: Aller;
  opacity: 0.8;
  border-radius: 8px;
}

#disappear {
  opacity: 0;
}

input:hover,
input:focus {
  opacity: .9;
  color: black;
  border: 1px solid #08c;
  color: white;
}

input[type="text"]:focus, input[type="password"]:focus {
  box-shadow: inset 0 1px 2px rgba(255,255,255, .35), 0px 1px 15px rgba(0,246,255,.5);
  border: 1px solid #08c;
  outline: none;
}


input[type="submit"]:hover {
  background: #b9aa7d;
  width:260px;
  border: 1.5px solid #0a5378;
  text-shadow:0px 1px 1px rgba(0,0,0,.65);
  -webkit-transition: all 0.40s ease-out;
  transition: all 0.40s ease-out;
}

#leftCorn{
  bottom: 0px;
  left: 0px;
  position: absolute;

}

#rightCorn{
  bottom: 0px;
  right: 0px;
  position: absolute;
}

.formWrapper{
  margin-top: 100px;
}
/* Register Page */

#registerForm{
  position:absolute;
  top:30%;
  right:0;
  left:0;
  color: white;
}

#inputBox{
  margin-top: 65px;
}



/* Display Theatres Page */

.userButton {
  position: relative;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  text-decoration: none;
  font-family: gotham;
  color: white;
  cursor:pointer;
  font-size: 20px;
  text-align: left;
}

.userButton:hover{
  color: #eed697;
}

.userProfile {
  width: 10%;
  float:left;
  position: relative;
}

.userButton {
  position: relative;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  text-decoration: none;
  font-family: gotham;
  color: white;
  cursor:pointer;
  font-size: 20px;
}

.userButton:hover{
  color: #eed697;
}

#tName {
  color: white;
  text-decoration: none;
}

#tName:hover {
  color: #eed697;
}

.crowdyWrapper{
    background-color: #31393a;
    width: 100%;
    height: 40vh;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    align-content: center;
    margin:auto;
    padding:0;
    background-size: cover;
    background-attachment: fixed;
    background-size: cover;
}

.inputWrapper{
  background-color: red;
  width: 100vw;
  float: left;
  background-color: #efd698;
  /* background-image: linear-gradient(to right, #efd698 , #cf9706); */

}

.topForms{
  float: left;
  margin: -5px;
  margin-left: 5px;
}


.theatreBox{
  margin-left: 50px;
  width: 80%;
  /* margin-bottom: 0; */
  /* background: blue; */
  /* margin: 0 auto; */
  margin-bottom: 10px;
  height: 50px;
}

.theatreBox p {
  font-family: gotham;
  color: white;
  /* border-style: solid;
  border-width: 1px; */
  font-size: 14px;
  clear: both;
  /* float: left; */
  /* text-align: right; */
  /* vertical-align: top; */
  /* margin-top: 50000px; */
  margin-top: -50px;
  margin-left: 52px;



}

.heartBox{
  height: 50px;
  width: 50px;
  /* background-color: red; *
  /* float: left; */
  /* position:static; */
  /* display: block; */
  /* margin: 0 auto; */
  /* position: relative; */

}


#heartLogo:hover {
  background: url("https://i.imgur.com/Hbl7dgr.png") no-repeat;
  cursor: pointer;
}

.showChart{
  /* background-color: red; */


}

.heartBut{
  height:20px;
    width:100px;
    /* margin: -1000px -50px; */
    position:relative;
    bottom:10%;
    left:30%;
    border: none;
    background-color: #1F2525;
}


#address{
  font-size: 12px;
  color: #eed697;
  margin-top: -7px;
  /* margin-bottom: */
}




#leftCornD{
  bottom: 0px;
  left: 0px;
  position: fixed;
}

#rightCornD{
  bottom: 0px;
  right: 0px;
  position: fixed;
}

.theatreBox button{
  margin-top: -91px;
  margin-right: 900px;
  margin-left: -10px;
  width: 40px;
  height: 40px;
}

#map{
  background-color: #507176;
  width: 60%;
  height: 80vh;
  float: left;
}

.rightSide{
  width: 40%;
  height: 80vh;
  background-color: #1F2525;
  float: right;
  overflow-y: auto;
}

.titleWrapper{
  width: 80%;
  /* background: red; */
  margin: 0 auto;
  margin-bottom: 45px;
  margin-top: 40px;
}

#rightSideTitle{
  margin-top: 4%;
  font-size: 50px;
  font-family: gotham;
  text-align: center;
  color: white;
  margin-bottom: -10px;
  text-align: left;
}

/* movieReel */
#movieReel{
  background-color: red;
  height: 1200px;
  width: 100%;
  transition:width 0.1s;
}

.lol{
  position: relative;
    -webkit-animation: myfirst 5s 2; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
    animation: myfirst 5s 2;
    animation-direction: alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes myfirst {
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 200px; top: 0px;}
    50%  {background: blue; left: 200px; top: 200px;}
    75%  {background: green; left: 0px; top: 200px;}
    100% {background: red; left: 0px; top: 0px;}
}

@keyframes myfirst {
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 200px; top: 0px;}
    50%  {background: blue; left: 200px; top: 200px;}
    75%  {background: green; left: 0px; top: 200px;}
    100% {background: red; left: 0px; top: 0px;}
}

/* disBottom */

.disBottom{
  width: 20%;
  float: right;
  /* background-color: red; */
}

#logout{
  position: relative;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  text-decoration: none;
  font-family: gotham;
  color: white;
  cursor:pointer;
  font-size: 20px;
}

#meet{
  text-align: right;
  color: white;
  font-family: gotham;
  margin-right: 20px;
}

#logout:hover{
  color: #eed697;
}

#meet:hover{
  color: #eed697;
}

 /* bottom */
.bottom{
  width: 100%;
  height: 70vh;
  background-color: #172e31;
  float: left;
}

#title2{
  margin-top: 5%;
  font-size: 100px;
  font-family: gotham;
  text-align: center;
  color: white;
  margin-bottom: 40px;
}

.mojiWrapper{
  height: 280px;
  width: 1280px;;
  /* background-color: green; */
  position: relative;
  margin: auto;
}

.mojiBox{
  width: 200px;
  height: 250px;
  /* background-color: red; */
  float: left;
  margin-right: 70px;
}

#lastbox{
  margin-right: -70px;
}

.bit{
  width: 200px;
  height: 200px;
}

.name{
  font-size: 13;
  font-family: gotham;
  color: black;
}


.position{
  font-size: 8;
  font-family: gotham;
  color: #eed697;
}

.ammenities {
  margin-right: 3px;
}

/* User Page */

.backgroundUP{
  background-color: #31393a;
}

.userBox{
  height: 92%;
  width: 40%;
  background-color: #1F2525;
  margin: 0 auto;
  margin-top: 50px;
  padding: 30px;
  border-radius: 9px;
  border-color: white;
}

.upperBox{
  border-radius: 9px;
  border-color: white;
}

.userTitle{
  margin-top: 10px;
  font-size: 70px;
  font-family: gotham;
  color: white;
  text-align: center;
}

#userPic{
  width: 20%;
  display:block;
    margin:auto;
    margin-top: 30px;
}

#userAdd{
  margin-top: 17px;
  font-family: gotham;
}


.userSubTitle{
  color: white;
  font-family: gotham;
  margin-top: -5px;
  text-align: center;
}


.userTheatres{
width: 80%;
height: 40%;
/* background-color: blue; */
margin: 0 auto;
margin-top: 17px;
overflow-y: auto;
background: #303030;
}

.theaterName{
  color: white;
  text-align: center;
  font-family: gotham;
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: white;
  /* font-size: 5rem; */
}

.dashboardForm {
  float: left;
  margin: 15px;
}

.dashboardButton {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  text-decoration: none;
  font-family: gotham;
  color: white;
  cursor:pointer;
  font-size: 20px;
}

.dashboardButton:hover{
  color: #eed697;
}

.tName{
  margin: 13px;
  font-size: 16px;
  margin-bottom: -7px;
  font-family: gotham;
}

.aName{
  margin: 13px;
  font-size: 12px;
  font-family: gotham;
  color: #eed697;

}

.search-button {
  position: relative;
  width: 135px; height: 38px;
  background: #e9d192;
  margin: 0 auto;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: color .3s;
  /* Typo */
  line-height: 60px;
  text-align: center;
  color: #fff;
  border-radius: 8px;
}

.search-button:after {
  position: absolute;
  top: 90%; left: 0;
  width: 100%; height: 100%;
  background: #d0b879;
  content: "";
  z-index: -2;
  transition: transform .3s;
}

.search-button:hover::after {
  transform: translateY(-80%);
  transition: transform .3s;
}

#search-p {
  transform: translateY(-10px) ;
  position: relative;
  color: black;
}
