<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Theatres in Your Area</title>
    <link rel= "stylesheet" type= "text/css" href= "../static/css/chart.css">
    <link rel= "stylesheet" type= "text/css" href= "../static/css/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script src="../static/js/chart.js"></script>
  </head>
  <div class="backgroundTheatrePage">
    <div class="crowdyWrapper">
      <p class="title">Crowdy</p>
      <p class="subTitle">Here. Are. Your. Theaters.</p>

    </div>
    <div class="inputWrapper">
      <form class = "topForms"action="" method="POST">
        <input id="" type="text" name="inputLocation" placeholder="Search Theatre">
      </input>
      </form>
      <form class = "topForms"action="{{ url_for('dashboard') }}" method="POST">
        <input id="" type="text" name="inputLocation" placeholder="Zip Code">
      </input>
    </div>

    <div class="inputWrapper"
    </div>
  </form>


    <body class="bodyDis">
      <div id = "map">

      </div>
      <div class="rightSide">
        <div class="titleWrapper">
          <p id="rightSideTitle">Don't Forget Your Popcorn</p>
        </div>
      {% for element in list %}

        <div class="theatreBox">
          <p><b></b>{{ element.name }} </p>
          <p id="address"><b>Address: </b>{{ element.address }} </p>


        </div>
        <div id="chartID"></div>


       <!--<p><b>Rating: </b>{{ element.rating }} </p><br>-->
       {% endfor %}
     </div>


     <!-- <div id="movieReel">
        <img class="lol" src="https://i.imgur.com/Dcx53li.png" alt="">
        <img class="lol" src="https://i.imgur.com/Dcx53li.png" alt="">
        <img class="lol" src="https://i.imgur.com/Dcx53li.png" alt="">
     </div> -->
<!--
     <div class="bottom">
       <p id="title2">Meet The Team</p>
       <div class="mojiWrapper">
         <div class="mojiBox">
            <img class="bit" src="https://i.imgur.com/Dcx53li.png" alt="">
            <p class = "name">Simone Chan</p>
            <p class="position">Back-End Developer</p>
         </div>

         <div class="mojiBox">
          <img class="bit" src="https://i.imgur.com/jUvFgfa.png" alt="">
          <p class = "name">Daniel Lobaton</p>
          <p class="position"> Project Manager</p>
         </div>

         <div class="mojiBox">
           <img class="bit" src="https://i.imgur.com/0FIPXl0.png" alt="">
           <p class = "name">Harsh Patel</p>
           <p class="position">Scrum Master</p>
           <p></p>
         </div>

         <div class="mojiBox">
           <img class="bit" src="https://i.imgur.com/O43ClW1.png" alt="">
           <p class = "name">Eduardo Graziano</p>
           <p class="position">Back-End Developer</p>
         </div>

         <div id = "lastbox" class="mojiBox">
           <img class="bit" src="https://i.imgur.com/ZpIiPlv.png" alt="">
           <p class = "name">Eric Roque</p>
           <p class="position">Front-End Developer</p>
           </div> -->
        </body>
        <!-- <img id="leftCornD" src="https://imgur.com/nmzMpNZ.png" alt=""> -->
        <!-- <img id="rightCornD" src="https://imgur.com/ls2WbKd.png" alt=""> -->
        <script>
         debugger;
         var locations = [];
         {% for element in list %}

           locations.push([ {{element.lat}}, {{element.lng}}, "{{ element.name}}" ]);
           // console.log({{element.name}});

         {% endfor %}
         function initMap(){
           var location = {lat:{{userLocationDict['latitude']}}, lng:{{userLocationDict['longitude']}}};

           var map = new google.maps.Map(document.getElementById("map"), {
             zoom: 12,
             center: location,
             styles: [
            {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
            {
              featureType: 'administrative.locality',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'geometry',
              stylers: [{color: '#263c3f'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'labels.text.fill',
              stylers: [{color: '#6b9a76'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry',
              stylers: [{color: '#38414e'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry.stroke',
              stylers: [{color: '#212a37'}]
            },
            {
              featureType: 'road',
              elementType: 'labels.text.fill',
              stylers: [{color: '#9ca5b3'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry',
              stylers: [{color: '#746855'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry.stroke',
              stylers: [{color: '#1f2835'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'labels.text.fill',
              stylers: [{color: '#f3d19c'}]
            },
            {
              featureType: 'transit',
              elementType: 'geometry',
              stylers: [{color: '#2f3948'}]
            },
            {
              featureType: 'transit.station',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'water',
              elementType: 'geometry',
              stylers: [{color: '#17263c'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.fill',
              stylers: [{color: '#515c6d'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.stroke',
              stylers: [{color: '#17263c'}]
            }
          ]
           });


           var infowindow = new google.maps.InfoWindow();

           var marker, i;

           marker = new google.maps.Marker({
               position: location,
               icon: 'https://imgur.com/dOQ5uvh.png',
               map: map

             });
           google.maps.event.addListener(marker, 'click', (function(marker) {
             return function() {
               infowindow.setContent("You are located here");
               infowindow.open(map, marker);
             }
           })(marker));

           for (i = 0; i < locations.length; i++) {

             marker = new google.maps.Marker({
               position: new google.maps.LatLng(locations[i][0], locations[i][1]),
               icon: 'https://imgur.com/qUnGRR1.png',
               map: map

             });

           google.maps.event.addListener(marker, 'click', (function(marker, i) {
             return function() {
               infowindow.setContent(locations[i][2] + "<br/><div style='float:left; margin-right: 8px; margin-top: 8px;'><img src='https://i.imgur.com/roENba2.png'></div><div style='float:left; margin-right: 8px; margin-top: 8px;'><img src='https://i.imgur.com/nPATIQP.png'></div><div style='float:left; margin-right: 8px; margin-top: 8px;'><img src='https://i.imgur.com/1GPIrkc.png'></div><div style='float:left; margin-right: 8px; margin-top: 8px;'><img src='https://i.imgur.com/CMpWVoA.png'></div>");
               infowindow.open(map, marker);

             }
           })(marker, i));
         }

         }
       </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBABVNXk90RVdvQqgDanDifw-bgMGeONI&callback=initMap"></script>
        </div>
      </div>
      <div class="disBottom">
        <div class="leftBox">
          <p id="meet">Meet the Team</p>
          <a id="logout"href='logout'>Logout</a>
        </div>
      </div>

</html>
