<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
<div class="background">
  <p class="title">Login</p>
  <div class="empty">
  </div>
  <form action="/login" method="post">
    {{ form.email(placeholder = 'Enter Email') }}
    {{ form.password(placeholder = 'Password') }}
    {{ form.hidden_tag() }}
    <br>
    <br>
    <input id = "adj" type="submit" value="Login">
  </form>
  <img id="leftCorn" src="https://imgur.com/nmzMpNZ.png" alt="">
  <img id="rightCorn" src="https://imgur.com/ls2WbKd.png" alt="">
</div>
