<head>
  <meta charset="utf-8">
  <title>User Profile</title>
  <link rel= "stylesheet" type= "text/css" href= "../static/css/chart.css">
  <link rel= "stylesheet" type= "text/css" href= "../static/css/style.css">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body class="background">

  <form class="dashboardForm"action="/dashboard" method="GET">
  <button type="submit" class="dashboardButton">Dashboard</button>
  </form>

    <div class="userBox">

        <h1 class="userTitle">Hi, {{current_user.name}}</h1>
        <img id="userPic" src="https://imgur.com/IMiMLqF.png" alt="">
        <p id = "userAdd">Current Location: {{ current_user.location }}</p>

      <h2 class="userSubTitle">Favorite Theaters</h2>
      <div class="userTheatres">
        {% for element in current_user.theaters %}
          <ul class="theaterList">
            <li>
              <h4> {{ element.theaterName }}</h4>
              <p> {{ element.theaterAddress }}</p>
            </li>
          </ul>
        {% endfor %}
      </div>

  </div>
  <img id="leftCorn" src="https://imgur.com/nmzMpNZ.png" alt="">
  <img id="rightCorn" src="https://imgur.com/ls2WbKd.png" alt="">
</body>
